<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation" class="row">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="columns">
    <div class="field row">
      <div class="row">
        <%= f.label :username%>
      </div>
      <div class="row">
        <%= f.text_field :username, :autofocus => true %>
      </div>
    </div>
    <div class="field row">
      <div class="row"><%= f.label :email%></div>
      <div class="row"><%= f.email_field :email%></div>
    </div>
    <div class="field row">
      <div class="row"><%= f.label :password %></div>
      <div class="row"><%= f.password_field :password %></div>
    </div>
    <div class="field row">
      <div class="row"><%= f.label :role %></div>
      <div class="row"><%= f.select :role, ['Admin','Moderator','Viewer'] %></div>
    </div>
    <div class="actions row">
      <%= f.submit class: 'button expand' %>
    </div>
    </div>
</fieldset>

<% end %>
