<!DOCTYPE html>
<html>
<head>
  <title>UserManager</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "user_manager/application", media: "all" %>
  <%= javascript_include_tag "user_manager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="no-print session_info">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.username %></strong>.
      
      <%= button_to "Logout", user_manager.destroy_user_session_path, method: :delete, tabindex: -1 %>
    <% else %>
      <!--%= link_to "Sign up", new_user_registration_path %-->
      <%= link_to "Login", user_manager.new_user_session_path %>
    <% end %>
</div>

 <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

<%= yield %>

</body>
</html>
